body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
}
.head {
  background-color: black;
  height: 145px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  width: 129px;
  /* padding-left: 140px; */
}

.search {
  padding-left: 120px;
}

.search input {
  width: 350px;
  background-color: white;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-phone {
  padding-right: 10px;
  font-size: 27px;
  padding-top: 7px;
}
.chiu {
  flex-grow: 1;
}
.all_phone {
  position: absolute;
  right: 470px;
  display: flex;
}
.phone {
  color: white;
}

.user {
  position: absolute;
  right: 360px;
}

.cart {
  padding-left: 50px;
}

.search button {
  position: absolute;
  right: 690px;
  top: 43px;
  border: none;
  background-color: transparent;
}
.search input {
  position: absolute;
  right: 680px;
  top: 30px;
}

/* menu */
.menu {
  background-color: rgb(73, 207, 169);
  height: 30px;
}

.menu ul {
  list-style-type: none;
  background-color: #9b7221;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.menu ul li a:hover {
  text-decoration: none;
  color: black;
  padding-top: 5.5px;
  border: 3px solid rgb(0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
}
/* end menu */
/* banner ảnh */
.banneranh {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: -10px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}
/* end banner chay */
/* banner chu */
#bannerchu {
  width: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
  white-space: nowrap;
}

#bannerchu span {
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-150%);
  }
}
/* end banner chu */
#bannerduoi {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#bannerduoi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid transparent;
}

.thumbnail.selected {
  border-color: red;
}
.thumbnail-container {
  margin-top: -50px;
}
.thumbnail-container button {
  margin-left: 30px;
}
/* end banner duoi */
/* tin tuc va thuong hieu */
h1 {
  text-align: center;
  margin: 20px 0;
}

.gallery {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.image-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
}
.image-container2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}
/* end tin tuc va thuong hieu */
.ft {
  margin-top: 30px;
}
/* Chi tiet san pham */
.product-image {
  width: 500px;
  height: auto;
  margin-top: 40px;
  height: 700px;
}

.product-info {
  margin-top: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 100px;
  width: 400px;
}

.product-price {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
  margin-left: 100px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-left: 100px;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  cursor: pointer;
}
.text-dhnam {
  text-align: center;
  background-color: #9b7221;
  color: white;
  margin-top: 5px;
}
.add {
  margin-left: 100px;
}
.buy {
  margin-left: 0px;
}
.xem {
  margin-top: 5px;
  margin-left: 200px;
  background-color: white;
}
.xem:hover {
  background-color: rgb(169, 169, 169);
}
/* Hướng dẫn sử dụng */
.list-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.list-group button {
  display: block;
  padding: 10px;
  text-align: left;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-group button:hover {
  background-color: #e9ecef;
}

.card {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ced4da;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin-top: 0;
}

.hidden {
  display: none;
}
/* Hướng dẫn sử dụng */
/* hình ảnh liên quan */
.modal-body {
  width: 800px;
  height: 370px;
}
.carousel-inner .carousel-item .img-fluid {
  width: 750px;
  height: 340px;
}
.modal-content {
  overflow-y: none;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.carousel-indicators li {
  margin-left: 100px;
  width: 40px;
  margin-top: -70px;
  color: white;
}
.xem2 {
  margin-top: 4px;
  background-color: white;
}
.xem2:hover {
  background-color: rgb(148, 148, 148);
}
/* CSS cho phần sắp xếp bình luận */
.sort-options {
  display: flex;
  margin-bottom: 1rem;
}

.sort-options label {
  margin-right: 1rem;
}

/* CSS cho danh sách bình luận */
#commentList {
  margin-top: 2rem;
}

#commentList h3 {
  margin-bottom: 1rem;
}

#comments {
  margin-top: 1rem;
  list-style: none;
}

.comment-item {
  padding: 1rem;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.comment-item h5 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.comment-item p {
  margin-bottom: 0.5rem;
}

.comment-item img {
  max-width: 200px;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

#commentCount {
  margin-top: 1rem;
}
/* Sản phẩm liên quan */
.col-md-2 .cart p {
  padding: 0px;
  margin: 0px;
}
.ct {
  margin-left: 0px;
}

.iframe h4 {
  transform: skewX(-20deg);
  width: 200px;
}
.iframe2 {
  display: flex;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  color: #907e5b;
  width: 5%;
  flex: 1;
  height: 1px;
  background-color: #907e5b;
}
.linee {
  height: 1px;
  background-color: #907e5b;
}
.content {
  font-size: 24px;
  font-family: serif;
}
.vscct {
  background-color: #cfcfcf;
}
.vscct i p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.email {
  background-color: #907e5b;
}
.footer h4 {
  color: #9b7221;
}
.footer a {
  color: #c88d16;
}
.footer a:hover {
  color: #000000;
  text-decoration: none;
}
.footer2 h4 {
  border: 1px solid #9b7221;
  background-color: #9b7221;
  border-width: 10px;
  color: #ffffff;
  font-weight: bolder;
}
.footer3 {
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer3_1 {
  color: #9b7221;
}
/* sản phẩm đồng hồ nam */
.col-2 a {
  text-decoration: none;
  color: #000000;
}
.col-2 a:hover {
  color: red;
}

.pagination li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border-radius: 90%;
  margin: 7px;
  border: 1px solid rebeccapurple;
}
.pagination li a:hover {
  color: white;
  background-color: #000000;
}
/* sản phẩm đồng hồ nam */
.col-2 a {
  text-decoration: none;
  color: #000000;
}
.col-2 a:hover {
  color: red;
}

.pagination li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border-radius: 90%;
  margin: 7px;
  border: 1px solid rebeccapurple;
}
.pagination li a:hover {
  color: white;
  background-color: #000000;
}
.text-bl {
  background-color: #9b7221;
  color: white;
}
.sizeSelect {
  margin-left: 100px;
}
.form-group .custom-select {
  width: 150px; /* Điều chỉnh chiều rộng ở đây */
}
.header-image {
  position: relative;
  text-align: center;
  color: white;
}
.header-image img {
  width: 100%;
  height: auto;
}
.header-image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-image:hover .overlay {
  opacity: 1;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text a {
  color: #c88d16;
}
.header-text a:hover {
  text-decoration: none;
  color: white;
}
.content-section {
  margin-top: 40px;
}
.content-section h2 {
  font-size: 24px;
  margin-top: 20px;
}
.form-group label {
  font-weight: bold;
}
.form-group input,
.form-group select {
  width: 100%;
  margin-top: 5px;
}
.submit-btn {
  margin-top: 10px;
}

.policy-section {
  margin-bottom: 30px;
}
.policy-title {
  font-size: 24px;
}
.policy-text {
  font-size: 16px;
}

/* css button trang đăng ký */
.btn:hover {
  background-color: #fff; /* Màu nền trắng khi hover */
  color: #000; /* Màu chữ đen khi hover */
}
/* css của giỏ hàng */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
}
.head {
  background-color: black;
  height: 145px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  width: 129px;
  /* padding-left: 140px; */
}

.search {
  padding-left: 120px;
}

.search input {
  width: 350px;
  background-color: white;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-phone {
  padding-right: 10px;
  font-size: 27px;
  padding-top: 7px;
}
.chiu {
  flex-grow: 1;
}
.all_phone {
  position: absolute;
  right: 470px;
  display: flex;
}
.phone {
  color: white;
}

.user {
  position: absolute;
  right: 360px;
}

.cart {
  padding-left: 50px;
}

.search button {
  position: absolute;
  right: 690px;
  top: 43px;
  border: none;
  background-color: transparent;
}
.search input {
  position: absolute;
  right: 680px;
  top: 30px;
}

/* menu */
.menu {
  background-color: rgb(73, 207, 169);
  height: 30px;
}

.menu ul {
  list-style-type: none;
  background-color: #9b7221;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.menu ul li a:hover {
  text-decoration: none;
  color: black;
  padding-top: 5.5px;
  border: 3px solid rgb(0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
}
/* end menu */
/* text giỏ hàng của bạn */
.cart-summary {
  flex: 1;
  text-align: right;
}

.home-link {
  text-align: left;
}

.home-link a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #d6a84c;
}

.home-link a:hover {
  color: #ff0909;
  text-decoration: none;
}

.home-link i {
  margin-right: 5px;
}
.roww {
  flex-direction: column-reverse;
}
.product-image {
  height: 180px; /* Đặt chiều cao của ảnh */
  object-fit: cover; /* Đảm bảo ảnh vừa với kích thước được thiết lập */
  width: 100%; /* Chiều rộng 100% để ảnh điều chỉnh kích thước */
}

.total-price {
  display: flex;
  align-items: center;
}

.currency-symbol {
  font-size: 1.2em;
  margin-right: 5px;
}
.form-check-input {
  width: 20px;
  height: 20px;
}

.form-check-label {
  font-size: 1.2em;
  margin-left: 10px;
}

/* Hover effect cho checkbox và label */
.form-check-input:hover + .form-check-label::before {
  border: 2px solid #c88d16; /* Màu sắc khi hover */
}

/* Active effect khi checkbox được chọn */
.form-check-input:checked + .form-check-label::before {
  background-color: #c88d16; /* Màu sắc khi được chọn */
  border-color: #c88d16;
}

/* Hiệu ứng khi hover label */
.form-check-label:hover {
  color: #c88d16; /* Màu sắc khi hover */
  cursor: pointer;
}
.footer h4 {
  color: #9b7221;
}
.footer a {
  color: #c88d16;
}
.footer a:hover {
  color: #000000;
  text-decoration: none;
}
.footer2 h4 {
  border: 1px solid #9b7221;
  background-color: #9b7221;
  border-width: 10px;
  color: #ffffff;
  font-weight: bolder;
}
.footer3 {
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer3_1 {
  color: #9b7221;
}
.line {
  color: #907e5b;
  width: 5%;
  flex: 1;
  height: 1px;
  background-color: #907e5b;
}
.line1 {
  color: #907e5b;
  width: 100%;
  flex: 1;
  height: 1px;
  background-color: #907e5b;
}
