body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
}
.head {
  background-color: black;
  height: 145px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  width: 129px;
  /* padding-left: 140px; */
}

.search {
  padding-left: 120px;
}

.search input {
  width: 350px;
  background-color: white;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-phone {
  padding-right: 10px;
  font-size: 27px;
  padding-top: 7px;
}
.chiu {
  flex-grow: 1;
}
.all_phone {
  position: absolute;
  right: 470px;
  display: flex;
}
.phone {
  color: white;
}

.user {
  position: absolute;
  right: 360px;
}

.cart {
  padding-left: 50px;
}

.search button {
  position: absolute;
  right: 690px;
  top: 43px;
  border: none;
  background-color: transparent;
}
.search input {
  position: absolute;
  right: 680px;
  top: 30px;
}

/* menu */
.menu {
  background-color: rgb(73, 207, 169);
  height: 30px;
}

.menu ul {
  list-style-type: none;
  background-color: #9b7221;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.menu ul li a:hover {
  text-decoration: none;
  color: black;
  padding-top: 5.5px;
  border: 3px solid rgb(0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
}
/* end menu */
/* text giỏ hàng của bạn */
.cart-summary {
  flex: 1;
  text-align: right;
}

.home-link {
  text-align: left;
}

.home-link a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #d6a84c;
}

.home-link a:hover {
  color: #ff0909;
  text-decoration: none;
}

.home-link i {
  margin-right: 5px;
}
.roww {
  flex-direction: column-reverse;
}
.product-image {
  height: 180px; /* Đặt chiều cao của ảnh */
  object-fit: cover; /* Đảm bảo ảnh vừa với kích thước được thiết lập */
  width: 100%; /* Chiều rộng 100% để ảnh điều chỉnh kích thước */
}

.total-price {
  display: flex;
  align-items: center;
}

.currency-symbol {
  font-size: 1.2em;
  margin-right: 5px;
}
.form-check-input {
  width: 20px;
  height: 20px;
}

.form-check-label {
  font-size: 1.2em;
  margin-left: 10px;
}

/* Hover effect cho checkbox và label */
.form-check-input:hover + .form-check-label::before {
  border: 2px solid #c88d16; /* Màu sắc khi hover */
}

/* Active effect khi checkbox được chọn */
.form-check-input:checked + .form-check-label::before {
  background-color: #c88d16; /* Màu sắc khi được chọn */
  border-color: #c88d16;
}

/* Hiệu ứng khi hover label */
.form-check-label:hover {
  color: #c88d16; /* Màu sắc khi hover */
  cursor: pointer;
}
.footer h4 {
  color: #9b7221;
}
.footer a {
  color: #c88d16;
}
.footer a:hover {
  color: #000000;
  text-decoration: none;
}
.footer2 h4 {
  border: 1px solid #9b7221;
  background-color: #9b7221;
  border-width: 10px;
  color: #ffffff;
  font-weight: bolder;
}
.footer3 {
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer3_1 {
  color: #9b7221;
}
.line {
  color: #907e5b;
  width: 5%;
  flex: 1;
  height: 1px;
  background-color: #907e5b;
}
.line1 {
  color: #907e5b;
  width: 100%;
  flex: 1;
  height: 1px;
  background-color: #907e5b;
}
